:root {
    --dark: #06032e;
    --red: #882601;
    --bg: #a9a9a9;
    --blue: rgb(59, 144, 255); 
    --accent: rgb(3, 107, 107);
    --aqua: aquamarine;
    --shadow: rgb(219, 57, 17);
    }

    /* Starting colors, fonts, and positioning */
body {
    background-color: var(--bg);
    background-image: linear-gradient(var(--accent), var(--bg));
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

   /* positioning, size and coloring for header section and image */
.myimage {
    margin-top: 10px;
    margin-left: 50px;
    float: center;
    max-height: 220px;
    border: 5px solid var(--aqua);
  }

.header {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background-image: url("../images/backheader2.png");
    background-size: cover;
    background-position: center;
    font-size: 20px;
    height: 150px;
    color: var(--dark);
    padding-bottom: 200px;
    border: 5px solid var(--dark);
    width: 100%;
}

h1 {
    margin-top: 20px;
    background-color: var(--aqua);
}

   /* nav bars coloring, sizes and positioning */
.nav {
    margin-top: 20px;
    background-color: var(--shadow);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    width: 100%;
  }
  
  nav a {
    color: var(--dark);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    float: right;
  
  }

   /* hover coloring for nav bar */
  nav a:hover {
    background-color: var(--blue);
    color: var(--aqua);
  }

  /* positioning, size and coloring for About Me section */
.aboutme1, .mywork1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.aboutme {
    text-align: center;
    height: 100px;
    width: 75%;
    font-size: 20px;
    color: var(--dark);
    text-decoration: underline var(--blue);
}

.aboutmecontent {
    font-size: 20px;
    height: 300px;
    width: 75%;
    border: 5px solid var(--dark);

}

   /* positioning, size and coloring for My Work section */
.work {
    height: 100px;
    max-width: 75%;
    font-size: 20px;
    color: var(--dark);
    text-align: start;
    text-decoration: underline var(--shadow);
}

   /* Positioning for Main Project, top 2 projects and bottom 2 projects containers*/
.projectstop, 
.projectsbottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.mainproject {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

   /* Sizing, coloring, and background picture settings */
.project1, 
.project2, 
.project3, 
.project4, 
.vtproject {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 40%;
    border: 5px solid var(--aqua);
}


.vtproject h3, 
.project1 h3, 
.project2 h3, 
.project3 h3, 
.project4 h3 {
    font-size: 24px;
    color: var(--dark);
    background-color: var(--aqua);
}

   /* hover effects for each project button link */
.vtproject:hover, 
.project1:hover, 
.project2:hover, 
.project3:hover, 
.project4:hover {
    opacity: 50%;
    color: var(--accent);
    border: 5px solid var(--blue);
}

   /* background picutre linked to each project */
.vtproject {
    width: 87%;
    background-image: url("../images/refractorproject.jpg");
  }

.project1 {
    background-image: url("../images/java.JPG");
    
}

.project2 {
    background-image: url("../images/fil.png");
}

.project3 {
    background-image: url("../images/placeholder.gif");
}

.project4 {
    background-image: url("../images/placeholder2.gif");
}

   /* contact me and footer positioning and sizing */
.contactme {
   display: flex;
   flex-direction: column;
    background: var(--shadow);
    color: var(--dark);
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}

.contactme h2 {
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    background: var(--blue);
    height: 100px;
    width: 100%;
}

   /* Settings for when screen hits 1230px for good responsiveness */
@media screen and (max-width:1230px) {
    .projectstop, .projectsbottom {
       flex-direction: column;
    }

    .project1, 
    .project2, 
    .project3, 
    .project4,
    .aboutmecontent,
    .vtproject {
       width: 100%;
    }  
    
}
